{
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "minify": {
      "compress": true,
      "mangle": true
    }
  },
  "module": {
    "type": "es6"
  },
  "minify": true,
  "exclude": ["src/types"]
}
